@import url(http://fonts.googleapis.com/css?family=Slackey|Roboto&effect=anaglyph);

body {
	background: #666;
	font-family: 'Roboto', sans-serif;
}
header {
	background: white;
	margin-bottom: 25px;
	}
h1 {
	margin: 0;
	font-family:'Slackey', cursive;
	text-align: center;
	font-size: 40px;
	}
h2 {
	margin: 0 auto 10px;
	text-align: center;
	color:#FFFFFF;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}
div {
	margin: 0;
	padding: 0;			
	overflow: hidden;
}

.x {
	height:50px;
	
}

.o {
	height:50px;
	margin-left:-50px
}
#reset {
	background-color: black;
	padding: 10px;
	color: white;
	font-size: 16px;
	width: 100px;
	margin: 15px auto;
	text-align: center;
	box-shadow: 2px 0 3px rgba(14,173,179,0.6), -2px 0 3px rgba(179,14,24,0.6)
	
}
.row1, .row2, .row3 {
	height: 52px;
	width: 154px;
}
.container {
	margin: 0 auto;
	background: black;
	height: 154px;
	width: 154px;
	box-shadow: 2px 0 3px rgba(14,173,179,0.6), -2px 0 3px rgba(179,14,24,0.6)
}
/*	.row1, .row2 {
		border-bottom: 2px solid black;
} */
.col1, .col2, .col3 {
	background: white;
	display: inline-block;
	width: 50px;
	height: 50px;
}
.col1, .col2 {
	/*border-left: 2px solid black; */
	margin-right: 2px;
}
#invisi_load {
	opacity:0;
	left: -9999px;
	background: url("../resources/images/xo_sprites.png");
}
#winNotif {
	width: 70%;
	height: 75px;
	background-color: red;
	color: white;
	border: 1px solid black;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	z-index: 5;
	position: relative;
	top: -154px;
	margin: 39px auto;
	text-align: center;
	padding: 5px;
	display:none;
	
}
.playAgain {
	margin: 0 auto;
	background: black;
	border: 1px solid black;
	padding: 5px;
	width: 75%;
}
